:root {
  --color-primary: #b4350f;
  --color-secondary: #04152c;
  --color-accent: #eab03a;
  --color-text: #2c170d;
  --color-background: #ffffff;
  --color-sub: #4a896f;
  --color-disable: #efefef;
  --color-border: color-mix(in srgb, var(--color-accent) 10%, var(--color-primary) 5%);
  --color-border-sub: color-mix(in srgb, var(--color-sub) 10%, transparent);
  --color-error: #e01e5a;

  --font-serif:
          "Hiragino Mincho ProN", "Yu Mincho", "游明朝", "Noto Serif JP";
  --font-sans:
          "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Meiryo";

  interpolate-size: allow-keywords;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--color-text);
  background-color: var(--color-background);
}

footer {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: 1rem;
  text-align: center;
  address {
    font-style: normal;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: var(--color-accent);
  }
  &:visited {
    color: inherit;
  }
}

h1 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-secondary);
  text-align: center;
  margin-bottom: 1rem;
}

p {
  line-height: 1.8;
  margin-bottom: 1rem;
}

ul, ol {
  li {
    list-style-position: inside;
    padding-left: 1em;
    text-indent: -1em;
  }
  &.complement {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 0.5em;
      &::before {
        content: '※';
      }
    }
  }
}

table {
  width: 100%;
  border: 1px solid var(--color-background);
  border-radius: 0.3rem;
  border-collapse: separate;
  overflow: hidden;

  caption {
    font-weight: 500;
    padding: 0.5rem 1rem;
  }
  th, td {
    padding: 0.7rem;
  }
  th {
    background-color: var(--color-border);
  }
  td {
    border-bottom: 1px solid var(--color-border);
  }
  tr {
    &:last-of-type {
      th, td {
        border: none;
      }
    }
  }
}

.mypage-container,
.login-container {
  width: clamp( 600px, 40%, 1024px);
  margin: 2rem auto;
  h1.contents-title {
    font-size: clamp(1.2rem, 6vw, 2rem);
    margin: 2rem auto;
  }
  h2 {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    font-family: var(--font-sans), sans-serif;
    color: var(--color-accent);
    padding: 1.5rem 0 1rem;
  }
  .group-name {
    width: fit-content;
    border: 1px solid var(--color-text);
    border-radius: 0.3rem;
    padding: 1rem 4rem;
    margin: 2rem auto 2rem;
    text-align: center;
    p {
      font-size: 2rem;
      font-family: var(--font-serif), serif;
      font-weight: 500;
      margin: 0.5em auto 0;
      &.text-normal {
        font-weight: normal;
        font-size: 1rem;
        font-family: var(--font-sans), sans-serif;
      }
      &.text-bigger { font-size: 1.2rem; }
      &.complement {
        font-size: 0.9rem;
        color: color-mix(in srgb, var(--color-text) 75%, transparent);
      }
    }
  }
}

.pc_only { display: block; }
.sp_only { display: none; }

/* ボタン類 */
button {
  font-family: var(--font-sans), sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;
  white-space: nowrap;
}

.btn-apply,
.btn-primary,
a.btn-apply {
  display: block;
  font-family: var(--font-sans), sans-serif;
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: 1rem;
  width: fit-content;
  padding: 1rem 3rem;
  margin: 1rem auto;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
}

.btn-submit,
.btn-sub {
  display: block;
  font-family: var(--font-sans), sans-serif;
  background-color: var(--color-sub);
  color: var(--color-background);
  font-size: 1rem;
  width: fit-content;
  padding: 1rem 3rem;
  margin: 1rem auto;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;

  &:hover {
    background-color: var(--color-primary);
  }
}

.btn-back {
  display: block;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 1rem;
  width: fit-content;
  min-width: 10rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 1px solid var(--color-primary);
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
}

.btn-outline {
  display: block;
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 0.8rem;
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
}

.btn-outline-sub {
  display: block;
  background-color: var(--color-background);
  color: var(--color-sub);
  font-size: 0.8rem;
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid var(--color-sub);
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;

  &:hover {
    background-color: var(--color-accent);
    color: var(--color-secondary);
  }
}

.btn-cancel {
  display: block;
  font-family: var(--font-sans), sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 0.9rem;
  width: fit-content;
  padding: 0.5rem;
  margin: 0 auto;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  cursor: pointer;
  transition:
          background-color 0.3s ease,
          color 0.3s ease;

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
  &.requested {
    background-color: var(--color-accent);
    color: var(--color-primary);
    font-weight: bold;
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-background);
    }
  }
  &.canceled {
    background-color: var(--color-disable);
    color: var(--color-text);
    border: none;
    transition: none;
    &:hover {
      cursor: default;
    }
  }
}

.btn-box {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin: 0 auto;
  .btn-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
  }
}

/* toggleスイッチ */
.toggle-btn {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color .4s;
  &:has(:checked) {
    background-color: #50b98d;
    &::after { left: 25px; }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: '';
    transition: left .4s;
  }
  input { display: none; }
}
.toggle-box {
  height: 100%;
  vertical-align: middle;
}

.toggle-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

/* フォーム部品 */
input, select, textarea {
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.3rem;
  width: 100%;
  &.input-short {
    width: 10rem;
    margin-right: 1rem;
  }
  &.input-medium {
    width: 20rem;
  }
  &:focus {
    outline: none;
    border: 2px solid var(--color-accent);
  }

}

form {
  max-width: 1024px;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) ;

  > div {
    margin-bottom: 1rem;
  }

  .check {
    display: flex;
    justify-content: center;
    input[type="checkbox"] {
      width: 1.2em;
      margin-right: 0.5em;
    }
  }
  .radio {
    padding: 0;
    display: flex;
    gap: 2rem;

    label {
      background-color: var(--color-accent);
      padding: 0.8rem 2rem;
      border-radius: 0.2rem;
    }
    .radio-button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 80px;
      padding: 10px 20px;
      border: 1px solid var(--color-accent);
      background: var(--color-background);
      cursor: pointer;
      transition: 0.2s;

      input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }
      &.selected {
        background: var(--color-accent);
        color: var(--color-background);
      }
      &:hover {
        border-color: var(--color-primary);
      }
    }
  }

  label {
    font-weight: 500;
    display: block;
    margin: 0.8rem 0 0.5rem;
  }

  /* pタグ等をフォームラベル代わりに表示する場合 */
  .label {
    font-weight: 500;
    display: block;
    margin: 0.8rem 0 0;
  }

  .required {
    font-size: 0.8rem;
    display: block;
  }
  .validation-error {
    font-size: 0.8rem;
    padding-left: 0.5em;
    color: var(--color-primary);
  }

  .privacy-policy {
    font-size: 0.9rem;
    li {
      text-indent: 0;
      padding-left: 0;
      strong {
        padding: 0.5em 0;
      }
    }
    p {
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

}


/* モーダルウィンドウ */
.modal-overlay {
  width: 100%;
  height: 100%;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;

  .modal-box {
    text-align: center;
    width: min(90%, 600px);
    padding: 2rem;
    background: var(--color-background);
    border-radius: 0.8rem;
    h2 {
      color: var(--color-primary);
      margin-bottom: 2rem;
    }
  }
  .modal-action {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    width: fit-content;
    margin: 0 auto;
  }
}

/* トップページ */
#top {
  #mv {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/images/mv.png);
    background-size: cover;
    background-position: center;

    .title-wrapper {
      h1 {
        font-size: clamp(2.5rem, 4vw, 3rem);
        line-height: 1.5;
        color: var(--color-accent);
        text-align: center;
        + p {
          font-size: 1.2rem;
          line-height: 1.8;
          color: var(--color-background);
          text-align: center;
          padding: 1rem 0;
        }
      }
      background-color: color-mix(
              in srgb,
              var(--color-secondary) 80%,
              transparent
      );
      width: clamp(280px, 33%, 400px);
      height: 100%;
      padding: 3rem 1.5rem;
      color: var(--color-background);
      font-family: var(--font-serif), serif;
      margin: 0 10%;
      position: relative;

      .schedule {
        margin: 2rem auto 0;
        width: 80%;

        h2 {
          font-size: 1.2rem;
          line-height: 1.2;
          color: var(--color-accent);
          text-align: left;
          padding: 1rem 0;
        }
        dd {
          margin-bottom: 0.5rem;
        }
      }

      .scroll-arrow-wrapper {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3rem;
        height: 3rem;

        .scroll-arrow {
          animation: popping-arrow 2s infinite ease-out;
          display: grid;
          place-items: center;

          &:hover {
            animation: paused;
          }
          .scroll-arrow-text {
            font-size: 0.8rem;
            font-family: var(--font-sans), sans-serif;
            color: var(--color-background);
            text-align: center;
          }
        }
      }
    }
  }

  #howToJoin,
  #groupList {
    padding: 5rem 0 7rem;
    h2 {
      font-size: clamp(1.5rem, 5vw, 2.5rem);
      color: var(--color-secondary);
      font-family: var(--font-serif), serif;
      text-align: center;
      line-height: 1.2;
      padding: 2rem 0;
      span {
        display: block;
        color: var(--color-primary);
        font-family: var(--font-sans), sans-serif;
        font-size: 1rem;
      }
    }
    p {
      width: 80%;
      margin: 0 auto 1rem;
    }
  }
  #howToJoin {
    background-color: color-mix(in srgb, var(--color-accent) 20%, transparent);
    text-align: center;
  }
  #groupList {
    .group-list-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      margin: 5rem auto;
      width: 80%;
      .group-list-item {
        width: 48%;
        border-radius: 0.3rem;
        box-shadow: 0 0 5px
        color-mix(in srgb, var(--color-secondary) 20%, transparent);
        overflow: hidden;
        transition: transform 0.3s ease;
        margin: 1rem 0;

        &:hover {
          background-color: color-mix(
                  in srgb,
                  var(--color-accent) 10%,
                  transparent
          );
          box-shadow: 0 0 5px
          color-mix(in srgb, var(--color-primary) 50%, transparent);
          transform: translateY(-0.2rem);
        }

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        button {
          display: block;
          width: 80%;
          margin: 1rem auto;
          padding: 1rem 0;
        }

        .group-list-item-content {
          padding: 1rem;

          h3 {
            font-size: 2rem;
            color: var(--color-primary);
            font-family: var(--font-serif), serif;
            line-height: 1.2;
            text-align: center;
            border-bottom: 1px solid var(--color-primary);
          }
          p {
            font-size: 1rem;
            line-height: 1.8;
            margin: 0.5rem 0;
          }
          h4 {
            font-size: 1.2rem;
            color: var(--color-primary);
            font-family: var(--font-sans), sans-serif;
            margin-top: 1rem;
          }
          ul {
            list-style-type: disc;
            padding-left: 1.5rem;
            margin-top: 0.5rem;

            li {
              font-size: 1rem;
              line-height: 1.5;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }
}/*--/#top--*/

/* 申込フォーム関連 */
.apply-complete {
  .apply-number {
    font-family: var(--font-sans), sans-serif;
    font-size: clamp(1.5em, 7vw, 2.5em);
    font-weight: 700;
    color: var(--color-sub);
    text-align: center;
  }

  .apply-data {
    dt {
      font-weight: 500;
      color: var(--color-sub);
    }
    dd {
      padding: 0.5rem 3rem 1.5rem;
      font-size: 1.2em;
    }
  }
  p {
    margin: 1rem 0;
  }
}

/* マイページ */
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: color-mix(in srgb, var(--color-accent) 10%, transparent);
  h1 {
    font-size: clamp(1rem, 4vw, 1.5rem);
    color: var(--color-text);
    text-align: left;
  }
}

.announcements-list {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  details {
    &::details-content {
      background-color: color-mix(in srgb, var(--color-sub) 10%, transparent);
      @media (prefers-reduced-motion: no-preference) {
        overflow: clip;
        transition-duration: 300ms;
        transition-property: content-visibility, block-size;
        transition-behavior: allow-discrete;
      }
    }
    &:not([open])::details-content {
      block-size: 0;
    }
    summary {
      display: grid;
      grid-template-columns: auto 1fr auto;
      gap: 0.5rem;
      grid-template-areas:
              "date author icon"
              "title title icon";
      align-items: center;
      cursor: pointer;
      padding: 0.5rem;
      &::-webkit-details-marker {
        display: none;
      }
      + p {
        padding: 0.5rem 1rem;
        a {
          text-decoration: underline;
          color: var(--color-primary);
        }
      }
    }
    .date { grid-area: date; }
    .author {
      grid-area: author;
      color: color-mix(in srgb, var(--color-text) 75%, transparent);
      font-size: 0.8rem;
    }
    .title {
      grid-area: title;
      margin: 0;
    }
    .icon {
      grid-area: icon;
      align-self: center;
      justify-self: center;
      display: block;
      position: relative;
      width: 24px;
      transform-origin: center 43%;
      transition: transform 0.4s;
    }
    &[open] .icon {
      transform: rotate(180deg);
    }
  }
}

footer {
  background-color: var(--color-secondary);
  color: var(--color-background);
  padding: 1rem;
  text-align: center;
  address {
    font-style: normal;
  }
}

/* 管理画面 */
.show-password-toggle {
  background-color: transparent;
  color: color-mix(in srgb, var(--color-text) 25%, transparent);
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  &:hover {
    color: var(--color-sub);
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: color-mix(in srgb, var(--color-primary) 10%, transparent);
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      font-size: 1rem;
      background-color: var(--color-primary);
      color: var(--color-background);
      &:hover {
        background-color: var(--color-accent);
        color: var(--color-text);
      }
      &.btn-outline-sub {
        background-color: var(--color-background);
        border: 1px solid var(--color-sub);
        color: var(--color-sub);
        &:hover {
          background-color: var(--color-sub);
          color: var(--color-background);
        }
      }
    }
  }
}
.admin {
  /* 管理画面トップ */
  .dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(200px, 25vw, 350px), 1fr));
    gap: 2rem;
    margin: 2rem 5rem;
    .dashboard-card {
      display: block;
      padding: 2rem 1rem;
      background-color: var(--color-background);
      border: 1px solid var(--color-border);
      border-radius: 0.5rem;
      transition: all 0.4s;
      h2 {
        font-family: var(--font-sans), sans-serif;
        font-weight: 500;
        font-size: clamp( 1.2rem, 4vw, 1.8rem);
        text-align: center;
        color: var(--color-text);
        padding: 0 0.5rem 1.5rem;
        border-bottom: 1px solid var(--color-border);
      }
      p {
        padding: 1.5rem 0 0;
        text-align: center;
      }
      ul {
        width: 80%;
        margin: 0 auto;
      }
      &:hover {
        background-color: color-mix(in srgb, var(--color-accent) 80%, transparent);
        h2 {
          color: var(--color-background);
          border-bottom: 1px solid var(--color-background);
        }
        p {
          font-weight: bold;
        }
      }
    }
  }

  /* 一覧画面 */
  .admin-container{
    margin: 1rem auto;
    width: 96%;
    h1 {
      text-align: left;
      font-size: 2rem;
      font-weight: 500;
      margin: 1rem 0;
    }
    header {
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 4rem;
      .search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        input {
          width: 20rem;
        }
        button {
          white-space: nowrap;
          padding: 0.8rem 1rem;
        }
      }
      &.detail-header {
        justify-content: space-between;
      }
    }
    /* 絞込み */
    .filter-box {
      width: fit-content;
      border: 1px solid color-mix(in srgb, var(--color-text) 30%, transparent);;
      border-radius: 0.5rem;
      padding: 1rem;
      h2 {
        font-weight: 500;
        font-size: 1.4rem;
      }
      h3 {
        font-weight: 500;
        font-size: 1rem;
      }
      .filter-inner-box {
        display: grid;
        grid-auto-flow: row;
        grid-auto-columns: max-content;
        gap: 1rem;
        margin: 1rem 0;
        h3 {
          grid-column: 1 / -1;
        }
        button {
          border-radius: 9999px;
          grid-row: 2;
          &.filter-btn-active {
            background-color: var(--color-primary);
            color: var(--color-background);
          }
          &.filter-btn {
            background-color: var(--color-accent);
          }
        }
      }
    }

    /* 一覧表示エリア */
    .table-container {
      width: 100%;
      overflow-x: auto;
      .add-btn-area {
        width: 100%;
        button {
          margin: 0.5rem 0 1rem;
          padding: 0.5rem 1rem;
          float: right;
        }
      }
      table {
        border-radius: 0.5rem;
        overflow: hidden;
        border: none;
        font-size: 0.9em;
        .table-row {
          cursor: pointer;
          &.is-canceled {
            background-color: var(--color-disable);
            color: color-mix(in srgb, var(--color-text) 60%, transparent);
          }
          &:hover{
            background-color: var(--color-border-sub);
          }
        }
        td.is-canceled {
          text-decoration: line-through;
        }
      }
      .icon-edit,
      .icon-delete {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: transparent;
      }
      .icon-edit {
        &:hover{
          color: var(--color-sub);
          background-color: color-mix(in srgb, var(--color-accent) 30%, transparent);
        }
      }
      .icon-delete {
        &:hover {
          color: var(--color-error);
          background-color: color-mix(in srgb, var(--color-accent) 30%, transparent);
        }
      }
    }

  }

  .message-box {
    color: var(--color-error);
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }

  .reception-number {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-sub);
    text-indent: -2rem;
    padding-left: 2rem;
    span {
      font-size: 1rem;
      display: block;
    }
  }
  .update-history {
    font-size: 0.8rem;
    border: 1px solid var(--color-text);
    padding: 0.5rem 1rem;
    p {
      padding: 0;
      margin: 0;
    }
  }
}



@keyframes popping-arrow {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(0.5rem);
  }
  80% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .pc_only {
    display: none;
  }
  .sp_only {
    display: block;
  }

  h2 {
    font-size: clamp(2rem, 5vw, 2.5rem);
  }

  .mypage-container {
    width: 92%;
    margin: 0 auto;

    h1 {
      font-size: 1.2rem;
      color: var(--color-text);
      font-weight: 500;
      margin: 2rem auto 1rem;
    }
    .group-name {
      border: 1px solid var(--color-text);
      border-radius: 0.3rem;
      padding: 0.5rem;
      margin: 1rem auto 2rem;
      text-align: center;
      h2 {
        font-family: var(--font-sans), sans-serif;
        font-size: 1.5rem;
        padding: 1rem;
      }
      p {
        font-size: 2rem;
        font-family: var(--font-serif), serif;
        font-weight: 500;
        margin: 0.5em auto 0;
        &.text-normal {
          font-weight: normal;
          font-size: 1rem;
          font-family: var(--font-sans), sans-serif;
        }
        &.text-bigger { font-size: 1.2rem; }
        &.complement {
          font-size: 0.9rem;
          color: color-mix(in srgb, var(--color-text) 75%, transparent);
        }
      }
    }
  }

  #top {
    margin: 0;
    #mv {
      width: 100%;
      height: 100vh;
      background-image: url(./assets/images/mv_sp.webp);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      .title-wrapper {
        width: 100%;
        height: 50vh;
        margin: 0;
        padding: 1rem;
        position: absolute;
        top: 50vh;
        left: 0;

        h1 {
          font-size: clamp(1.7rem, 5vw, 2.5rem);
          margin: 1rem;
          text-wrap: nowrap;

          + p {
            font-size: 1rem;
            padding: 0;
          }
        }
      }
    }

    #howToJoin {
      padding: 1rem 0 3rem;

      p {
        width: 85%;
        margin: 0 auto 1rem;
      }
    }

    #groupList {
      .group-list-wrapper {
        margin: 2rem auto;
        width: 95%;
        .group-list-item {
          width: 100%;

          img {
            width: 100%;
            height: auto;
            display: block;
          }

          h3 {
            text-align: center;
            border-bottom: 1px solid var(--color-primary);
          }
        }
      }
    }
  }

  /* マイページ */
  header {
    padding: 0.5rem;
    h1 {
      font-size: clamp(0.8rem, 4vw, 1.5rem);
    }
  }

  form {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0 auto;
    box-shadow: none;
    input {
      &.input-short {
        width: 40%;
        margin-right: 1rem;
      }
    }
    .validation-error {
      display: block;
      padding: 0;
    }
  }
}

/* 共通 */
.text-warn {
  color: var(--color-primary);
}

.complement {
  color: color-mix(in srgb, var(--color-text) 75%, transparent);
  font-size: 0.9rem;
  padding-left: 1em;
}

.optional-box {
  width: 100%;
  border: 1px solid var(--color-text);
  border-radius: 0.3rem;
  padding: 1rem;
}

.relative { position: relative; }

.text-secondary { color: var(--color-secondary); }
.text-error {
  color: var(--color-error);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 auto 2rem;
  text-align: center;
}
.text-center { text-align: center; }
.text-small { font-size: 0.8em; }
.text-large { font-size: 1.2em; }
.text-block { display: block; }
.block-right { margin-left: auto; margin-right: 0; }
.font-semibold { font-weight: 500; }

.w-fit { width: fit-content; }
.w-50 { width: 50rem; }

.bg-disable { background-color: var(--color-disable); }

.mb-0 { margin-bottom: 0; }
.mb-05 { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em;}
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.pt-1 { padding-top: 1em; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 1em; }
.mx-auto { margin-left: auto; margin-right: auto; }

.flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}