@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --color-app-base: #fcf9ef;
  --color-app-primary: #c14b00;
  --color-app-secondary: #4A896F;
  --color-app-accent: #BB3E3E;

  --color-app-bg: #F3C66B;
  --color-app-bg-sub: #E5D0AD;
  --color-app-border: #7a5b54;

  --color-app-text: #563b3a;
  --color-app-sub: #666666;
}

:root {
  --color-base: #fcf9ef;
  --color-primary: #c14b00;
  --color-secondary: #4A896F;
  --color-accent: #BB3E3E;
}

body {
  @apply text-app-text border-app-text font-sans;
}

section {
  @apply md:p-10 sm:p-2;
  h1 {
    @apply mb-5;
  }
  &.confirm-box{
    @apply container w-fit md:p-10 sm:p-2 md:mx-auto md:my-10 md:shadow grid justify-items-center gap-y-5 rounded-lg;
    h1 {
      @apply mt-10;
    }
    h2 {
      @apply text-2xl font-semibold text-secondary/80;
    }
    dt {
      @apply font-medium mb-1;
    }
    dd {
      @apply mb-2;
    }
    p {
      @apply py-2 px-10 w-full;
    }
  }
}

h1 {
  @apply inline-block text-xl font-semibold text-app-text;
}

ul {
  @apply list-disc pb-0.5 list-inside my-5;
}

button {
  @apply btn btn-primary text-white font-medium transition-all duration-300;
  &:hover {
    @apply opacity-80;
  }
  &.logout-btn, &.add-data-btn, &.edit-btn {
    @apply btn-secondary;
  }
  &.filter-btn {
    @apply btn rounded-full border-none bg-app-bg-sub text-app-text;
  }
  &.filter-btn-active {
    @apply btn rounded-full border-none bg-app-accent text-white;
  }
  &.back-to-btn  {
    @apply btn btn-outline bg-white text-app-sub;
  }
  &.cancel-btn {
    @apply btn btn-outline bg-white text-app-sub text-sm;
    &.requested {
      @apply bg-app-bg;
    }
    &.canceled {
      @apply btn-ghost;
    }
  }
  &.submit-btn {
    @apply btn btn-secondary min-w-1/2 p-7;
  }
  &.warning-btn {
    @apply btn btn-accent;
  }
}

.toggle-btn {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #dddddd;
  cursor: pointer;
  transition: background-color .4s;
}

.toggle-btn:has(:checked) {
  background-color: #50b98d;
}

.toggle-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  background-color: #fff;
  content: '';
  transition: left .4s;
}

.toggle-btn:has(:checked)::after {
  left: 25px;
}

.toggle-btn input {
  display: none;
}

/*管理画面共通ヘッダー*/
#root > header {
  @apply flex items-center justify-between px-2 py-2.5 shadow bg-app-base;
  box-shadow: 0 7px 5px -3px rgba(193, 75, 0, .2);
}

/*管理画面各ページヘッダー*/
main header {
  @apply flex items-center justify-between;
  .update-history {
    @apply block border p-2 text-sm;
  }
}

table {
  @apply my-10 rounded-md overflow-hidden;
    th {
      @apply text-center bg-app-bg-sub text-app-text;
    }
}

form {
  @apply mx-auto p-6 bg-white shadow-md;
  input[type="text"], input[type="tel"], input[type="password"], input[type="time"], input[type="date"], input[type="checkbox"], textarea, select {
    @apply w-full px-3 py-2 mb-5 border border-app-border/30 rounded-md focus:outline-none focus:ring-2 focus:ring-app-secondary/30 focus:border-app-secondary/30;
    &.short-text {
      @apply w-30 mr-3;
    }
    &.medium-text {
      @apply w-50 mr-3;
    }
  }
  input[type="number"] {
    @apply px-3 py-2 mb-5 border border-app-border/30 rounded-md focus:outline-none focus:ring-2 focus:ring-app-secondary/30 focus:border-app-secondary/30;
  }
  label {
    @apply block font-bold mb-2;
    span.required {
      @apply block text-xs font-normal;
    }
  }
}

/*管理画面トップ*/
.dashboard-card {
  @apply block p-6 rounded-xl bg-app-bg-sub transition-all duration-300;
  &:hover {
   @apply bg-app-bg shadow;
  }
  h2 {
    @apply block text-2xl font-semibold text-center text-app-secondary pb-2;
  }
  p {
    @apply text-center py-2 font-semibold;
  }
}

.edit-icon {
  @apply btn btn-ghost btn-sm rounded-full border-none text-app-text hover:text-app-secondary hover:bg-app-secondary/20;
}

.delete-icon {
  @apply btn btn-ghost btn-sm rounded-full border-none text-app-text hover:text-app-accent hover:bg-app-accent/20;
}

.message-box {
  @apply text-accent;
  h2 {
    @apply text-2xl font-bold mb-2;
  }
  strong {
    @apply text-lg mb-2 bg-app-accent text-white py-2 px-5 rounded-lg;
  }
}

.validation-error {
  @apply text-sm text-accent ml-3 font-medium;
}

.complements {
  @apply list-none before:content-['※'] before:mr-1 pl-4 -indent-4 text-sm mb-2;
}

.show-password-toggle {
  @apply btn btn-ghost absolute bg-transparent text-app-sub border-none shadow-none hover:bg-transparent right-2 top-1/2 -translate-y-3/4;
}

/*トップページ：山車組選択画面*/
#groupList {
    @apply relative p-0 flex flex-col bg-app-base min-h-screen md:w-full;
  h1 {
    @apply block font-serif text-5xl mx-10 my-15 text-center text-primary;
  }
  h1 + div {
    @apply mx-auto mb-10;
  }
  article {
    @apply container mx-auto grid grid-cols-2 gap-10;
    .group-list-item {
      @apply grid grid-cols-2 gap-y-2 bg-white p-0 items-center rounded-lg overflow-hidden;
      h2 {
        @apply col-span-2 text-3xl font-serif font-bold bg-primary p-3 text-white grid h-20 items-center;
      }
      .position-list {
        @apply py-4 px-10;
        h3 {
          @apply text-xl font-semibold;
        }
      }
      .apply-btn {
        @apply btn bg-secondary p-7 w-50 text-white rounded-md m-auto;
      }
    }
  }
}

#myPage {
  section {
    @apply md:w-fit md:min-w-1/2 sm:w-full mx-auto my-10 shadow grid gap-3;
    h1 {
      @apply mb-0 text-center;
      &+p {
        @apply text-center;
      }
    }
    th {
      @apply bg-white;
    }
    form {
      @apply shadow-none;
    }
    button {
      @apply w-fit;
    }
  }
}
